@import 'react-complex-tree/lib/style-modern.css';

:root {
    --rct-color-focustree-item-selected-bg: #2d3748;
    --rct-bar-color: unset;
    --rct-color-arrow: #fff;
    --rct-color-focustree-item-hover-bg: unset;
    --rct-color-focustree-item-active-bg: #283141;
    --rct-color-focustree-item-active-text: unset;
    --rct-item-height: 32px;
}

.rct-tree-item-button {
    font-family: "Segoe UI";
    font-size: 20px;
}

.rct-tree-item-arrow svg {
    width: 20px;
}

.g_id_signin > div > div:first-child{
    display: none;
}